<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- pro -->
    <appender name="std_json" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <!-- dev -->
    <appender name="std_plain" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-5level [%thread] %logger{36} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 接口开发的接口日志 -->
    <appender name="capture" class="com.yunli.midplatform.stepengine.log.CaptureLogAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%logger{36} - %msg %ex%n</pattern>
        </layout>
    </appender>

    <!--公共组件日志过滤示例 -->
    <!-- <logger name="org.apache" level="warn" /> -->
    <springProfile name="default">
        <root level="info">
            <appender-ref ref="std_json"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="std_plain"/>
        </root>
    </springProfile>
    <springProfile name="dm8">
        <root level="info">
            <appender-ref ref="std_plain"/>
        </root>
    </springProfile>
    <springProfile name="h2">
        <root level="info">
            <appender-ref ref="std_json"/>
            <appender-ref ref="capture" />
        </root>
    </springProfile>
    <springProfile name="plainlog">
        <root level="info">
            <appender-ref ref="std_plain"/>
        </root>
    </springProfile>
</configuration>